.msgList{
    background-color: #fff;
    >h3{
        padding-left: 33px;
        position: relative;
        height: 30px;
        >em{
            position: absolute;
            display: inline-block;
            width: 15px;
            height: 15px;
            background-repeat: no-repeat;
            background-size: 15px 15px;
            top: 6px;
            left: 15px;

        }
        >em.applyman{
            background-image: url('../images/applyman.png');
        }
        >em.applylist{
            background-image: url('../images/apply-list.png');
        }
        >span{
            font-size: 12px;
            color: #565656;
            line-height: 29px;
            
        }
    }
    >h3+h3{
        border-top: 1px solid #F2F2F2;
    }

    .mui-table h4,.mui-table h5,.mui-table .mui-h5,.mui-table .mui-h6,.mui-table p{
        margin-top: 0;
    }
    .mui-table h4{
        line-height: 21px;
        font-weight: normal;
        color: #565656;
        font-size: 15px;
    }
    .mui-table .oa-icon{
        position: absolute;
        right:0;
        bottom: 0;
    }
    .mui-table .oa-icon-star-filled{
        color:#f14e41;
    }
    .my-h5{
        font-size: 12px;
    }
    .table{
        border-bottom: 1px solid #DFDFDF;
        padding-right: 15px;        
    }
    .mui-col-my{
        width: 27%;
    }
    .words{
        color: #BDBDBD;
    }
    .list{
        padding-left: 29px;
        line-height: 28px;
        position: relative;
    }
    .list::before{
        content: '';
        display: block;
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background-color: #04A6C1;
        top: 50%;
        margin-top: -3px;
        left: 14px;
    }
    .list::after{
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: 51px;
        background-color: #04A6C1;
        top: 50%;
        left: 17px;
    }
    .list:last-of-type::after{
        display: none;
    }
    .time{
        position: relative;
        padding-left: 12px;
    }
    .time::before{
        content: '';
        position: absolute;
        display: block;
        width: 10px;
        height: 10px;
        background: url('../images/time.png') no-repeat;
        background-size: 10px 10px;
        top: 10px;
        left: 0;
    }
    .check{
        display: block;
        overflow: hidden;
        text-align: center;
        position: relative;
        height: auto;
        padding-top: 8px;
        >.checkBox{
            position: absolute;
            width: 50%;
            height: 20px;
            left: 0;
            top: 0;
            opacity: 0;  
            z-index: 2;                   
        }
        >button{
            display: block;
            margin: 0 auto;
            background-color:#04A6C1;
            color: #fff;
            width: 68%;
            height: 25px;
            line-height: 7px;
            font-size: 12px;
            margin-top: 18px;
            margin-bottom: 68px;
            border-radius: 5px;
            >em{
                display: inline-block;
                width: 13px;
                height: 13px;
                background-image: url('../images/apply.png');
                background-repeat: no-repeat;
                background-size: 13px 13px;
                vertical-align: middle;
                margin-right: 4px;
            }
        }
        >span{
            display: inline-block;
            position: relative;
            padding-left: 17px;
            font-size: 10px;
            transform: scale(0.9);
            color: #565656;
            >em{
                position: absolute;
                content: '';
                display: block;
                width: 11px;
                height: 11px;
                top: 1px;
                left: 5px;
                background-image: url('../images/check0.png');
                background-repeat: no-repeat;
                background-size: 11px 11px;
            }
        }
    }
    .check.ischeck{
        >span{
            >em{
                background-image: url('../images/check1.png');
            }
        }
    }
}