.main{
    >.frame{
        padding-top: 0.8333333333333334rem;
        >.applyForm{
            >.submit{
                >.date{
                    >.right{
                        margin-top: 0.4166666666666667rem;
                        >#demo5{
                            width: 22%;
                        }
                        >#demo6{
                            width: 22%;
                        }
                    }
                }
                >.gap{
                    >.right{
                        margin-top: 0.25rem;
                    }
                }
                >.site{
                    >.right{
                        padding-top: 0.25rem;
                        >input{
                            font-size: 0.75rem;
                        }
                    }
                }
            }
        }
    }
}