body {
  height: auto;
  position: relative;
}
body > .popup {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 999;
}
body > .popup > .popupBox {
  width: 19rem;
  background-color: #FFFFFF;
  border-radius: 0.83rem;
  margin: 0 auto;
  margin-top: 50%;
  padding: 0 1rem;
}
body > .popup > .popupBox > h3 {
  font-size: 1rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  color: #04A6C1;
  width: 100%;
}
body > .popup > .popupBox > .popup-card {
  font-size: 1rem;
  position: relative;
  overflow: hidden;
}
body > .popup > .popupBox > .popup-card .mui-input-group {
  overflow: hidden;
}
body > .popup > .popupBox > .popup-card .mui-input-group #domBox {
  margin-top: 0.083rem;
  display: block;
  min-height: 1rem;
  max-height: 6rem;
  overflow: auto;
}
body > .popup > .popupBox > .popup-card .mui-input-group #domBox::after{
  display: none;
}
body > .popup > .popupBox > .popup-card .mui-input-group #domBox > li {
  cursor: pointer;
  padding: none;
  padding-right: 3.5rem;
  padding-left: 1rem;
}
body > .popup > .popupBox > .popup-card .mui-input-group #domBox > li::before {
  content: '';
  display: block;
  position: absolute;
  width: 0.3rem;
  height: 0.3rem;
  background-color: #03A5C1;
  border-radius: 0.15rem;
  left: 0.4rem;
  top: 1rem;
}
body > .popup > .popupBox > .popup-card .mui-input-group #domBox > li > a {
  color: #565656;
  margin: none;
  font-size: 0.83rem;
}
body > .popup > .popupBox > .popup-card .mui-input-group .radioBox {
  border-top: none;
  padding-top: 0.2rem;
  margin-bottom: 2.7rem;
  position: relative;
}
body > .popup > .popupBox > .popup-card .mui-input-group .radioBox > button {
  position: absolute;
  border: none;
  background-color: #04A6C1;
  width: 5.5rem;
  text-align: center;
  display: block;
  left: 52%;
  color: #fff;
}
body > .popup > .popupBox > .popup-card .mui-input-group .radioBox > button:first-child {
  margin-left: -6.666666666666667rem;
}
.main > .frame {
  padding-top: 0.8333333333333334rem;
}
.main > .frame > .applyForm > .submit > .date > .right {
  margin-top: 0.4166666666666667rem;
}
.main > .frame > .applyForm > .submit > .date > .right > #demo5 {
  width: 22%;
}
.main > .frame > .applyForm > .submit > .date > .right > #demo6 {
  width: 22%;
}
.main > .frame > .applyForm > .submit > .gap > .right {
  margin-top: 0.25rem;
}
.main > .frame > .applyForm > .submit > .site > .right {
  padding-top: 0.25rem;
}
.main > .frame > .applyForm > .submit > .site > .right > a{
  display: none;
  width: 3rem;
  height: 1.8333333333333333rem;
  background-color: #04A6C1;
  position: absolute;
  top: 0.3rem;
  right: 0rem;
  border-radius: 0.25rem;
  text-align: center;
  color: #fff;
  word-spacing: 0.2rem;
}
.main > .frame > .applyForm > .submit > .site > .right > input {
  font-size: 0.75rem;
}
