.main{
    >.frame{
        padding-top: 10px;
        >.applyForm{
            >.submit{
                >.date{
                    >.right{
                        margin-top: 5px;
                        >#demo5{
                            width: 22%;
                        }
                        >#demo6{
                            width: 22%;
                        }
                    }
                }
                >.gap{
                    >.right{
                        margin-top: 0px;
                    }
                }
            }
        }
    }
}